{% extends "pages/index.html" %}
{% load static %}
{% block content %}

<div class="jumbotron"><br></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
      <h1 class="w3-xxxlarge w3-text-red"><b>ToDo of Task's list:</b></h1>
      <hr style="width:450px;border:5px solid red" class="w3-round">
      <button><a href="{% url 'create_task_todo' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Create new ToDo</a></button>
      <ol>
        {% for task in object_list %}
    <div class="infinite-item">
        <h2>
            {% if task.done == True %}
            <li><strike>{{ task.todo_title }}</strike> <b>Task name:</b> {{ task.task.title }}</li>
            {% else %}
            <li>{{ task.todo_title }}. <b>Task name:</b> {{ task.task.title }}.</li>
            {% endif %}
        </h2>
          <button><a href="{% url 'remove_todo' task.id %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Remove</a></button>
          <button><a href="{% url 'update_todo' task.id %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"> Update </a></button>
          {% endfor %}
    </div>
      <br>
          <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <button><a href="?page=1">&laquo; First</a></button>
                <button><a href="?page={{ page_obj.previous_page_number }}">Previous</a></button>
                {% endif %}
                <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                <button><a href="?page={{ page_obj.next_page_number }}">Next</a></button>
                <button><a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></button>
                {% endif %}
            </span>
        </div>

      </ol>
  </div>
</div>
{% endblock %}
