{% extends "pages/index.html" %}
{% load static %}
{% block content %}

<div class="jumbotron"><br></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <ol><h1><b> Are you sure that want to remove ToDo of TASK's?</b></h1>
      <h2>{{item}}</h2>
        <hr style="width:730px;border:5px solid red" class="w3-round">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="submit" name="Confirm" value="Remove">
                <a href="{% url 'list_task_todos' %}">Cancel</a>
            </form>
        </ol>
  </div>
</div>

{% endblock %}