{% extends "pages/index.html" %}
{% load static %}
{% block content %}

<div class="jumbotron"><br></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1>Create ToDo of Task's!</h1>
	<form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" name='btn btn-primary' value="Submit">
        <a href="{% url 'list_task_todos' %}">Cancel</a>
    </form>
  </div>

</div>
{% endblock %}
