{% extends "pages/base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron"><br></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-xxxlarge w3-text-red"><b>Log In</b></h1>
    <hr style="width:170px;border:5px solid red" class="w3-round">
    <form method="post">
        {% csrf_token %}
        <form action="/action_page.php" target="_blank">
            <div class="w3-section">
                <label>Username: </label>
                <input class="w3-input w3-border" type="text" name="username" required>
            </div>
            <div class="w3-section">
                <label>Password: </label>
                <input class="w3-input w3-border" type="password" name="password" required>
            </div>
            <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Login</button>
        </form>
    </form>
  </div>
</div>
<!-- End page content -->

{% endblock %}