{% extends "pages/base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron">
    <h1>GroupTask</h1>
</div>
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
      <h1 class="w3-jumbo"><b>Projects and Tasks manager!</b></h1>
<h1>Thank's for visiting, come back soon!</h1>
      <hr style="width:710px;border:5px solid red" class="w3-round">
  </div>
</div>

{% endblock %}