{% extends "pages/base.html" %}
{% load static %}
{% load bootstrap3 %}
{% block content %}

<div class="jumbotron"><br></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-xxxlarge w3-text-red"><b>Register here</b></h1>
      <hr style="width:350px;border:5px solid red" class="w3-round">
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Sign Up</button>
    </form>
  </div>
</div>
<!-- End page content -->

{% endblock %}