<!DOCTYPE html>
{% load static %}
<html lang="en">
  <title>Home page</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="{% static 'css/master.css' %}" type="text/css" />

<body>
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>GroupTask</b></h3>
  </div>
  <div class="w3-bar-block">
      {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}.</p>
        <a href="{% url 'projects' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Projects</a>
        <ul><a href="{% url 'list_tasks' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Tasks</a></ul>
        <ul><a href="{% url 'list_task_todos' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">ToDo</a></ul>
        <a href="{% url 'accounts:logout' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Logout</a>
      {% else %}
        <a href="{% url 'home' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
        <a href="{% url 'accounts:login' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Log In</a>
        <a href="{% url 'accounts:signup' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Sing Up</a>
        <a href="{% url 'accounts:contact' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact</a>
      {% endif %}
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>GroupTask</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

{% block content %}
{% endblock %}

<!-- Footer Container -->
  <footer id="footer">
       <div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px">
           <p class="w3-right">All rights reserved  &copy; {% now 'Y' %}, Powered by Regina Dvaržeckytė & Vaida Bernotienė</p>
       </div>
  </footer>

<!-- Script Container -->
<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

</script>

</body>
</html>
