{% extends "pages/base.html" %}
{% load static %}
{% load bootstrap3 %}
{% block content %}

<div class="jumbotron"><br></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- Header -->
    <!-- Contact -->
    <div class="w3-container" style="margin-top:80px" id="showcase">
      <h1 class="w3-xxxlarge w3-text-red"><b>Contact Us</b></h1>
      <hr style="width:300px;border:5px solid red" class="w3-round">
      <p>Do you want to make your job easier? Fill out the form and fill us in with the details.</p>
      <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send</button>
      </form>
    </div>
</div>

<!-- End page content -->

{% endblock %}