{% extends "pages/base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron">
    <h1>GroupTask</h1>
</div>
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
      <h1 class="w3-jumbo"><b>Projects and Tasks manager!</b></h1>
      <h1 class="w3-xxxlarge w3-text-red"><b>Let's go!</b></h1>
      <hr style="width:210px;border:5px solid red" class="w3-round">
  </div>

  <!-- Photo grid (modal) -->
  <div class="w3-row-padding">
    <div class="w3-half">
      <img src="{% static 'images/lot-stickers.jpg' %}" style="width:100%" onclick="onClick(this)" alt="Create Project">
    </div>

    <div class="w3-half">
      <img src="{% static 'images/lot-stickers.jpg' %}" style="width:100%" onclick="onClick(this)" alt="Create Task for existing Project">
    </div>
  </div>

  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>

</div>
{% endblock %}