{% extends "pages/base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron"><br></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">
<!-- Our team -->
  <div class="w3-container" id="ourteam" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Our Team</b></h1>
    <hr style="width:250px;border:5px solid red" class="w3-round">
    <p></p>
    <p></p>
  </div>

  <!-- The Team -->
  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="{% static 'images/ReginaDv.jpg' %}" alt="Regina" style="width:100%">
        <div class="w3-container">
          <h3>Regina Dvaržeckytė</h3>
          <p class="w3-opacity">Project manager & Developer</p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="{% static 'images/VaidaBr.jpg' %}" alt="Vaida" style="width:100%">
        <div class="w3-container">
          <h3>Vaida Bernotienė</h3>
          <p class="w3-opacity">Designer & Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End page content -->

{% endblock %}