{% extends "pages/base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron"><br></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
      <ol><h1><b>Are you sure that you want to delete the PROJECT:</b></h1>
      <h2>{{project.project_name}}?</h2>
      <hr style="width:730px;border:5px solid red" class="w3-round">
          <form method="post">
              {% csrf_token %}
              <input type="submit" class="btn btn-danger" value="Delete">
              <a href="{% url 'project_detail' pk=project.pk %}">Cancel</a>
          </form>
      </ol>
  </div>
</div>

{% endblock %}