{% extends "pages/index.html" %}
{% load static %}
{% block content %}

<div class="jumbotron"><br></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
      <h1 class="w3-xxxlarge w3-text-red"><b>All the projects in GroupTask!</b></h1>
      <hr style="width:730px;border:5px solid red" class="w3-round">
      <button><a href="{% url 'project_create' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Create new Project</a></button>
      <ol><br>
              {% for project in projects %}
                  <div class="infinite-item">
                      <h2><a href="{{project.id}}" onclick="w3_close()"> {{project.project_name}}</a></h2>
                  </div>
              {% endfor %}
        <br>
              <div class="pagination">
                  <span class="step-links">
                      {% if page_obj.has_previous %}
                      <button><a href="?page=1">&laquo; First</a></button>
                      <button><a href="?page={{ page_obj.previous_page_number }}">Previous</a></button>
                      {% endif %}
                      <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                      </span>
                      {% if page_obj.has_next %}
                      <button><a href="?page={{ page_obj.next_page_number }}">Next</a></button>
                      <button><a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></button>
                      {% endif %}
                  </span>
              </div>
      </ol>
      </div>
    </div>
</div>
{% endblock %}