{% extends "pages/base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron"><br></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
       <ol><h1>Project control</h1><br></br>
        <h2>{{project_detail.project_name}}</h2>
           <button><a href="{% url 'project_update' pk=project_detail.pk %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Update project name</a></button>
           <button><a href="{% url 'project_delete' pk=project_detail.pk %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Delete project</a></button>
           <button><a href="{% url 'projects' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Cancel</a></button>
       </ol>
    </div>
</div>

{% endblock %}