{% extends "pages/index.html" %}
{% load static %}
{% block content %}

<div class="jumbotron"><br></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
        <h1>
            {% if not form.instance.pk %}
            Create New Project
            {% else %}
            Update Project Name
            {% endif %}
        </h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Submit">
            <a href="{% url 'projects' %}">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}