{% extends "pages/index.html" %}
{% load static %}
{% block content %}

<div class="jumbotron"><br></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
      <h1 class="w3-xxxlarge w3-text-red"><b>Tasks Manager</b></h1>
      <hr style="width:400px;border:5px solid red" class="w3-round">
      <button><a href="{% url 'create_task' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Create new Task</a></button>
      <ol>
      <div class="infinite-item">
          {% for task in object_list %}
          <h2><li>{{ task.title }}. <b>Projektas:</b> {{ task.project_name }}</li></h2>
          <button><a href="{% url 'update' task.id %} " onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Update</a></button>
          <button><a href="{% url 'remove' task.id %} " onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Remove</a></button>
          {% endfor %}
       </div>
      <br>
              <div class="pagination">
                  <span class="step-links">
                      {% if page_obj.has_previous %}
                      <button><a href="?page=1">&laquo; First</a></button>
                      <button><a href="?page={{ page_obj.previous_page_number }}">Previous</a></button>
                      {% endif %}
                      <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                      </span>
                      {% if page_obj.has_next %}
                      <button><a href="?page={{ page_obj.next_page_number }}">Next</a></button>
                      <button><a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></button>
                      {% endif %}
                  </span>
              </div>

      </ol>
  </div>
</div>
{% endblock %}