{% extends "pages/index.html" %}
{% load static %}
{% block content %}

<div class="jumbotron"><br></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">

      <h1 >Update TASK:</h1>

    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="Update" value="Update">
        <a href="{% url 'list_tasks' %}">Cancel</a>
    </form>
  </div>

</div>

{% endblock %}
